.menucard-main{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 220px;
    height:270px;
    justify-content: flex-start;
    padding-left: 20px;
    border-radius: 30px;
    margin-right: 90px;
    margin-top:80px;
    
}
.menucard-name{
    margin-top: 20px;
}
.menucard-image{
    width: 150px;
    height: 150px;
    border: 5px solid red;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: 70px;
}
.menucard-rating{
    display: flex;
    align-items: center;
    /* margin-top: 5px; */
}
.menucard-star{
    margin-right: 20px;
    color:yellow;
    margin-top: 8px;

}
.menu-rate{
    margin-top: 20px;
}

.menucard-price{
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
    
}
.menucard-button{
    background-color: red;
    border-radius: 30px;
    color:white;
    border:none;
    height:40px;
    width:80px;
    margin-top: 20px;
    margin-right: 40px;
}

@media (max-width:768px) {
    .menucard-main{
        background-color: lightpink;
        /* display: flex;
        flex-wrap: wrap; */
        width: 180px;
        border-radius: 30px;
        margin-top:80px;
        height: 220px;
        margin-bottom: 15px;
    }
    .menucard-image{
        width: 120px;
        height: 120px;
        border: 5px solid red;
        border-radius: 50%;
        margin-top: -40px;
        margin-left: 70px;
    }
    .menucard-name{
        font-size:20px;
    }
    .menucard-rating{
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .menucard-star{
        margin-right: 10px;
        color:yellow;
        margin-top: 8px;
    
    }
    .menucard-price{
        display: flex;
        justify-content: space-between;
        /* margin-top: -10px; */
    }
    .menucard-button{
        background-color: red;
        border-radius: 30px;
        color:white;
        border:none;
        height:30px;
        width:70px;
        margin-right: 40px;
    }
    .menu-rate{
        font-size: 20px;
    }
}