.delivercard-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.delivercard-image{
    height:250px;
    width:250px;
}
.delivercard-link{
    text-decoration: none;
    color:red;
}
.delivercard-arrow{
    color: red;
    margin-top: 4px;
}
.delivercard-arrow-setup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}