.footer-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: lightpink;
    padding: 10px 0px;
}
.footer-main-head{
    margin-left: 30px;
}
.footer-head-one-half{
    padding: 5px 0px;
}
.footer-head-two{
    padding: 5px 0px;
}
.footer-head-one,.footer-head-two,.footer-head-three,.footer-head-four{
    color:red;
}
.footer-head-one-half{
    color: rgb(98, 82, 82);
}
/* .footer-head-two{
    color: red;
} */
.social-icons a{
    color: black;
    font-size: 30px;
    margin-right: 20px;
    
}

.footer-head-two-links a,.footer-head-three-links a,.footer-head-four-links a{
    display: block;
    text-decoration: none;
    padding: 5px;
    color: rgb(61, 51, 51);
}
.footer-head-two-links a:hover,.footer-head-three-links a:hover,.footer-head-four-links a:hover{
    text-decoration: underline;
}

@media screen and (max-width:768px){
    .footer-main-head{
        margin-left: 0px;
    }
    .footer-container{
        display: grid;
        grid-template-columns: auto ;
        padding: 10px;
    }
    .footer-head-one-half{
        padding: 5px 0px;
    }
    .footer-head-two{
        padding: 5px 0px;
    }
}